/* Makes the links centered and makes it non-bulleted*/
ul { 
list-style-type: none;
display : flex; 
text-align: center;
justify-content: space-around;
}
/* Makes the links seperated on the same line*/
li {
  background-color: white;
  text-align: center;
  justify-content: space-around;
  flex: 1;
}
/* Makes it so that when one header is scrolled pass it still be there */

h1 {
  background: darkred;
  border-bottom: 1px solid #989ea4;
  border-top: 1px solid #717d85;
  color: black;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;

}

h2 {
  background: saddlebrown;
  border-bottom: 1px solid #989ea4;
  border-top: 1px solid #717d85;
  color: black;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;

}

h3 {
  background: darkmagenta;
  border-bottom: 1px solid #989ea4;
  border-top: 1px solid #717d85;
  color: black;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;

}
.item-list{
    max-width: 800px;
	width: 20px;
	max-length: 800px;
	length: 20px;
	display: flex;
	scroll-behavior: smooth;
	overflow: auto;
    scroll-snap-type: x mandatory;
}

.item{
    scroll-snap-align: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.item-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
