nav { display : flex; 
Flex-wrap: flex;
text-align: center;
justify-content: space-around;
}
ul { 
display : flex; 
Flex-wrap: flex;
text-align: center;
justify-content: space-around;
  
}
li {
  background-color: white;
  text-align: center;
  justify-content: space-around;
  flex: 1;
}
